@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


.App {
  text-align: center;
  max-height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  
}

.nav-bar{
  background-color: #282c34;
  display:flex;
  flex-direction: row;

}

.logo{
  background-color: #282c34;
  width:15%;
  padding-right:85%;
}

.logo img{
  width:50px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title p{
  font-size: 30px;
}

.form{
  display: flex;
  flex-direction:column;
  width:20%;
  margin:0 auto;
  padding-top: 10%;
  
  background-color: #fff;
}

#standard-basic{
  padding-top: 2%;
  margin:0 auto;
  width: 100%;
}

.city-box{
  padding-top:10px;
  width:100%;
}



.state-box{
  padding-top: 10px;
}

.button-div{
  display:flex;
  align-items:flex-end;
  justify-content: flex-end;
}

#submit{
  width:30%;
  margin-top:2.5%;
  
}

.weather-div {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: absolute;
  top:50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}



.main-div{
  display:flex;
  flex-direction: column;
  padding-top: 0px;
}


.city p{
  font-size: 30px;
  color:#fff;
}

.weather-svg img{
  width: 200px;
 
}

.temp p{
  font-size: 100px;
  color: #fff;
  margin:0px;
}

.weather-desc p{
  font-size:30px;
  color: #fff;
}

.secondary-div{
  display: flex;
  flex-direction: row;
  width:20%;
  margin: 0 auto;
  
}

.secondary-div-box{
  width:33%;
  margin: 0 auto;
}



.secondary-div-box p{
  font-size: 30px;
  color: #fff;
  margin-top:5px;
}

#box-titles{
  font-size:20px;
  
}

.newSearch{
  width: 20%;
  margin: 0 auto;
  padding-top: 25px;
}